

# Python
__pycache__/
*.pyc
.venv/ 
.env
# Plan files
plan/build_instruction_docs/env_files/

legacy_files/
# DOCS
.unused_docs/
docs/api/generated/
docs/api/redoc/
docs/api/swagger-ui/
docs/api/node_modules/
docs/api/package-lock.json
docs/guides/

# VS Code
.vscode/
*.code-workspace

# PowerShell
*.ps1
# Ssh
.ssh/ 

# Cursor
.cursor/

# Pre-commit cache
.pre-commit-cache/

# Temp + logs
.tmp/
*.log
# env files
configs/environment/
# Docker + coverage
*.pid
*.sock
htmlcov/
.coverage

nul

