--- Runtime: API Gateway ---

fastapi
uvicorn[standard]
gunicorn
httpx
pydantic
python-dotenv
pydantic[email]
python-multipart
PyJWT
dnspython
email-validator
python-dateutil
PyYAML


--- Runtime: Database ---

motor
pymongo
pytest-asyncio
netmiko

--- Runtime: Blockchain / Networking ---

requests
cryptography
websockets


--- Testing ---

pytest
pytest-cov
httpx[cli]
asgi-lifespan
openapi-spec-validator


--- Quality / Security / Tooling ---

black
ruff
mypy
bandit
pre-commit
types-requests
types-PyYAML
types-python-dateutil
click